@charset "UTF-8";
@keyframes showMenu {
  from {
    left: calc(0px - 75%);
  }
  to {
    left: 0;
  }
}
@keyframes hideMenu {
  from {
    left: 0;
  }
  to {
    left: calc(0px - 75%);
  }
}
@keyframes rotateIcon {
  to {
    transform: rotate(180deg);
  }
}
@keyframes reverseRotateIcon {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes cursorBlink {
  0%, 50% {
    border-right: 1px solid #ffb400;
  }
  51%, 100% {
    border-right: 1px solid transparent;
  }
}
.brightness {
  filter: brightness(0.5);
}
@media screen and (min-width: 950px) {
  .brightness {
    filter: brightness(1);
  }
}

.blockIt {
  pointer-events: none;
}
@media screen and (min-width: 950px) {
  .blockIt {
    pointer-events: auto;
  }
}

.center {
  margin: 0 auto;
  max-width: 1200px;
}

.image, .footer__box .links__logo img, .numbers, .home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.inactive {
  display: none !important;
}

.section__header {
  max-width: 1200px;
  margin: 0 auto;
}
.section__header h3 {
  color: #ffb400;
  margin-bottom: 24px;
}
.section__header h2 {
  color: #184341;
  margin-bottom: 24px;
}
.section__header p {
  margin-bottom: 24px;
}
.section__header--line {
  margin-bottom: 36px;
  width: 200px;
  height: 6px;
  background-color: #ffb400;
}
.section__header button {
  margin-bottom: 24px;
}
.section__header + p {
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 1200px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 5.8rem;
  text-transform: none;
}

h2 {
  font-weight: 800;
  font-size: 4rem;
  text-transform: none;
}

h2.--uppercase {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
}

h2.--card {
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: none;
  color: #184341;
}

h2.--data {
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: none;
}

h3 {
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: none;
  color: #184341;
}

h3.--uppercase {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
}

h3.--small {
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: none;
}

span.--number {
  font-weight: 800;
  font-size: 3rem;
  text-transform: none;
}

p, a, li {
  font-size: 1.6rem;
  line-height: 2.1rem;
}

svg {
  width: 24px;
}
svg path {
  fill: #ffb400;
}

button {
  width: 180px;
  height: 60px;
  background-color: #ffb400;
  color: #184341;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background-color: #0e2927;
  color: #ffffff;
}
button:active {
  transform: scale(0.9);
}

#MobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: calc(0px - 75%);
  z-index: 1;
  width: 75%;
  max-width: 360px;
  height: 100dvh;
  padding: 50px 36px;
  background-color: #184341;
  color: #ffffff;
}
@media screen and (min-width: 950px) {
  #MobileMenu {
    display: none;
  }
}

.menu {
  display: flex;
}
.menu.menu--mobile {
  margin-top: 20px;
  flex-direction: column;
  gap: 48px;
}
.menu.menu--mobile a {
  font-size: 2rem;
}
.menu.menu--desktop {
  display: none;
  color: #ffffff;
}
@media screen and (min-width: 950px) {
  .menu.menu--desktop {
    margin-right: 36px;
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
.menu a {
  font-size: 1.5rem;
  font-weight: 700;
}
.menu a:hover {
  color: #ffb400;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: -100px;
}
.header figure {
  width: 200px;
  height: 100px;
}
.header figure img {
  height: 100%;
  -o-object-position: center;
     object-position: center;
}
.header .iconContainer.in--menu {
  position: fixed;
  z-index: 1;
  top: 8px;
  right: 8px;
  width: 56px;
  height: 56px;
  padding: 8px;
  display: grid;
  place-content: center;
  background-color: #ffb400;
  border-radius: 100%;
}
.header .iconContainer.in--menu svg {
  min-width: 40px;
  width: 40px;
  height: 40px;
}
.header .iconContainer.in--menu svg path {
  fill: #ffffff;
}
@media screen and (min-width: 950px) {
  .header .iconContainer.in--menu {
    display: none;
  }
}

main {
  width: 100%;
}
main > section {
  max-width: 1600px;
  margin: 0 auto;
  padding-inline: 16px;
  padding-block: 80px;
  color: #616670;
  background-color: #ffffff;
}
main > .section:nth-child(odd) {
  background-color: #184341;
  color: #ffffff;
}
main > .section:nth-child(odd) h2 {
  color: #ffffff;
}

.home {
  background-image: url(https://t4.ftcdn.net/jpg/03/83/25/83/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg);
  padding-block: 100px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .home {
    height: 800px;
  }
}
.home__info {
  margin-top: 150px;
}
@media screen and (min-width: 950px) {
  .home__info {
    padding-left: 600px;
    margin-top: 200px;
  }
}
.home__info h2 {
  margin-bottom: 16px;
}
.home__info h1 {
  padding-left: 16px;
  margin-bottom: 16px;
  border-left: 8px solid #ffb400;
}
.home__info p {
  margin-bottom: 24px;
}

.about > div {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}
@media screen and (min-width: 760px) {
  .about > div {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.about > div h3 {
  margin-bottom: 24px;
}
.about .about__info {
  max-width: 700px;
}
.about__check {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px 16px;
}
.about__check__item {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-weight: 600;
}
.about__check__item svg {
  min-width: 20px;
  width: 20px;
  height: 20px;
}
.about__check__item svg path {
  fill: #ffb400;
}
.about__form {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 32px 16px;
  box-shadow: 1px 1px 10px -1px #616670;
  -webkit-box-shadow: 1px 1px 10px -1px #616670;
  -moz-box-shadow: 1px 1px 10px -1px #616670;
  background-color: #ffffff;
}
@media screen and (min-width: 1000px) {
  .about__form {
    max-width: 450px;
    margin-top: -100px;
  }
}
.about__form__input {
  padding: 8px 16px;
  margin-bottom: 24px;
  width: 100%;
  height: 48px;
  font-size: 1.6rem;
  font-weight: 600;
  outline: none;
  background-color: #e9e9e9;
  color: #616670;
  border-bottom: 2px solid #e9e9e9;
}
.about__form__input::-moz-placeholder {
  opacity: 0.5;
}
.about__form__input::placeholder {
  opacity: 0.5;
}
.about__form__input:focus {
  border-color: #ffb400;
}
.about__form #FormExtraDetails {
  height: 120px;
  overflow-x: unset;
  overflow-y: scroll;
  resize: none;
}
.about__form #FormExtraDetails::-webkit-scrollbar-thumb {
  background-color: #ffb400;
}
.about__form #FormExtraDetails::-webkit-scrollbar-track {
  background-color: #e9e9e9;
}
.about__form #FormExtraDetails::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}
.about__form__terms {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.about__form__terms input {
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
  accent-color: #ffb400;
}
.about__form__terms p, .about__form__terms a {
  font-size: 1.4rem;
}
.about__form__terms a {
  color: #ffb400;
}
.about__roles {
  flex-direction: column;
}
.about__roles__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 760px) {
  .about__roles__item {
    width: 33%;
  }
}
.about__roles__item figure svg {
  min-width: 60px;
  width: 60px;
  height: 60px;
}
.about__roles__item figure svg path {
  fill: #ffb400;
}
.about__roles__item figure svg {
  margin: 0 auto;
}
.about__roles__item h3 {
  margin-bottom: 16px;
}

@media screen and (min-width: 760px) {
  .offers .center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
  }
  .offers .center img {
    height: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .offers .center {
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 300px;
  }
}
.offers #OffersWords {
  padding-right: 2px;
  color: #ffb400;
  border-right: 1px solid transparent; /* Inicia con un borde transparente */
  animation: cursorBlink 1s step-end infinite; /* Ajusta la duración y el tipo de animación */
}
.offers #OffersWords.complete_sencence {
  background-color: #0e2927;
  color: #616670;
}

.services__header {
  margin: 0 auto;
  text-align: center;
}
.services__header .section__header--line {
  margin-inline: auto;
}
.services__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 24px;
}
.services__item {
  display: grid;
  place-content: center;
  width: 100%;
  height: 350px;
  padding: 50px;
  border: 1px solid #e9e9e9;
}
.services__item svg {
  min-width: 60px;
  width: 60px;
  height: 60px;
}
.services__item svg path {
  fill: #ffb400;
}
.services__item svg, .services__item h2 {
  margin-bottom: 24px;
}
.services__item:hover {
  background-color: #184341;
  color: #ffffff;
  transition: all 0.3s;
}
.services__item:hover h2 {
  color: #ffffff;
}

.numbers {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStud-YhwB9Dde0fPyidw4iFstwUTDL_DXZ4w&usqp=CAU);
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
}
.numbers svg {
  min-width: 60px;
  width: 60px;
  height: 60px;
}
.numbers svg path {
  fill: #ffb400;
}
.numbers svg {
  margin: 0 auto;
  margin-bottom: 24px;
}

.testimonials {
  padding-inline: 24px;
}
@media screen and (min-width: 950px) {
  .testimonials {
    position: relative;
  }
  .testimonials > .center {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 36px;
    position: relative;
  }
  .testimonials > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 35vw;
    max-width: 700px;
    height: 100%;
    background-color: #ffffff;
  }
  .testimonials__header {
    min-width: 450px;
  }
  .testimonials__container {
    min-width: 410px;
  }
  .testimonials__box {
    height: -moz-fit-content;
    height: fit-content;
    min-width: 410px;
  }
}
.testimonials__header {
  text-align: end;
  margin-left: auto;
}
.testimonials__header .section__header--line {
  margin-left: auto;
}
@media screen and (min-width: 760px) {
  .testimonials__header {
    max-width: 500px;
    margin: 0 0 0 auto;
  }
}
.testimonials__container {
  position: relative;
}
.testimonials__box {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  color: #616670;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.testimonials__box::-webkit-scrollbar-thumb {
  background-color: #ffb400;
  display: none;
}
.testimonials__box::-webkit-scrollbar-track {
  background-color: #e9e9e9;
  display: none;
}
.testimonials__box::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
.testimonials__item {
  scroll-snap-align: start;
  padding: 24px;
  flex: 0 0 100%;
}
.testimonials__person {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.testimonials__person figure {
  width: 60px;
  height: 60px;
}
.testimonials__person figure img {
  border-radius: 100%;
  height: 100%;
}
.testimonials__person__name {
  font-weight: 700;
  font-size: 20px;
  text-transform: none;
  color: #184341;
}
.testimonials__person__role {
  margin-top: 4px;
  color: #ffb400;
}
.testimonials .position-indicators {
  position: absolute;
  bottom: -40px;
  right: 50%;
  transform: translate(50%);
}
.testimonials .position-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #0e2927;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
.testimonials .position-indicator:first-child {
  background-color: #ffb400;
}
.testimonials .nav-button {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: #ffb400;
}
.testimonials .nav-button svg {
  min-width: 20px;
  width: 20px;
  height: 20px;
}
.testimonials .nav-button svg path {
  fill: #0e2927;
}
.testimonials .nav-button#prevButton {
  top: 50%;
  transform: translate(-50%, -50%);
}
.testimonials .nav-button#prevButton:active {
  transform: translate(-50%, -50%) scale(0.9);
}
.testimonials .nav-button#nextButton {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(180deg);
}
.testimonials .nav-button#nextButton:active {
  transform: translate(50%, -50%) rotate(180deg) scale(0.9);
}
.testimonials .nav-button.disable_button {
  filter: brightness(0.8);
  cursor: not-allowed;
}

@media screen and (min-width: 760px) {
  .faq {
    display: flex;
    gap: 24px;
  }
  .faq > div {
    width: 50%;
  }
}
.faq__header {
  text-align: start;
}
.faq__header .section__header--line {
  margin-right: auto;
}
.faq__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.faq__item__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  font-weight: 600;
  background-color: #e9e9e9;
  color: #184341;
  cursor: pointer;
}
.faq__item__question svg {
  min-width: 16px;
  width: 16px;
  height: 16px;
}
.faq__item__question svg path {
  fill: #184341;
}
.faq__item__question svg {
  animation: reverseRotateIcon 0.3s linear both;
}
.faq__item__question figure {
  width: auto;
}
.faq__item__question__active {
  background-color: #184341;
  color: #e9e9e9;
}
.faq__item__question__active svg {
  animation: rotateIcon 0.3s linear both;
}
.faq__item__question__active svg path {
  fill: #e9e9e9;
}
.faq__item__answer {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0px 24px;
  transition: 0.3s all;
}
.faq__item__answer p {
  overflow: hidden;
}
.faq__item__answer__active {
  grid-template-rows: 1fr;
  padding: 32px 24px;
  transition: 0.3s all;
}

.footer {
  background-color: #184341;
  color: #ffffff;
}
.footer__box {
  max-width: 800px;
  padding: 48px 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
@media screen and (min-width: 760px) {
  .footer__box {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__box .links {
  max-width: 400px;
}
.footer__box .links__logo {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 100%;
  max-width: 300px;
  height: 240px;
}
.footer__box .links__social {
  margin-block: 24px;
  display: flex;
  justify-content: space-between;
}
.footer__box .links__social a {
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
  background-color: #184341;
  border-radius: 100%;
  transition: all 0.3s;
}
.footer__box .links__social a svg {
  min-width: 32px;
  width: 32px;
  height: 32px;
}
.footer__box .links__social a svg path {
  fill: #ffb400;
}
.footer__box .links__social a:hover {
  background-color: #0e2927;
  border-radius: 16px;
  transform: scale(1.1);
}
.footer__box .contact {
  width: 100%;
  max-width: 400px;
}
.footer__box .contact h2 {
  color: #ffb400;
}
.footer__box .contact__box {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.footer__box .contact__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__box .contact__item svg {
  min-width: 24px;
  width: 24px;
  height: 24px;
}
.footer__box .contact__item svg path {
  fill: #ffb400;
}
.footer__box .contact__item a {
  margin-top: 4px;
  font-weight: 600;
}
.footer__box .contact__item a:hover {
  color: #ffb400;
}
@media screen and (min-width: 760px) {
  .footer__box .contact {
    width: auto;
  }
  .footer__box .contact__box {
    flex-direction: column;
  }
}
@media screen and (min-width: 1000px) {
  .footer__box .contact__box {
    flex-direction: row;
  }
}
.footer .copy {
  border-top: 1px solid #e9e9e9;
  padding: 16px 8px;
  text-align: center;
}
.footer .copy p, .footer .copy a {
  font-size: 1.2rem;
  padding-bottom: 4px;
}
.footer .copy a:hover {
  color: #ffb400;
}/*# sourceMappingURL=main.css.map */