$primary-color: #ffb400;
$secondary-color: #184341;
$terciary-color: #0e2927;
$text-color: #616670;
$secondary-light-color: #e9e9e9;
$primary-light-color: #ffffff;

// Mixins
@mixin Titles($weight, $size, $textTransform: none){
    font-weight: $weight;
    font-size: $size;
    text-transform: $textTransform;
}
@mixin svgIcons($size, $color) {
    svg {
        min-width: $size;
        width: $size;
        height: $size;
        path {
            fill: $color;
        }   
    }
}
@mixin responsive($width){
    @media screen and (min-width: $width) {
        @content
    }
}

// Animations

@keyframes showMenu {
    from {left: calc(0px - 75%);}
    to {left: 0;}
}
@keyframes hideMenu {
    from {left: 0;}
    to {left: calc(0px - 75%);}
}
@keyframes rotateIcon {
    to {
        transform: rotate(180deg);
    }
}
@keyframes reverseRotateIcon {
    from {transform: rotate(180deg);}
    to {transform: rotate(0deg);}
}
@keyframes cursorBlink {
    0%, 50% {
        border-right: 1px solid $primary-color;
    }
    51%, 100% {
        border-right: 1px solid transparent;
    }
}

// Base styles
.brightness {
    filter: brightness(.5);
    @include responsive(950px) {
        filter: brightness(1);
    }
}
.blockIt {
    pointer-events: none;
    @include responsive(950px) {
        pointer-events: auto;
    }
}
.center {
    margin: 0 auto;
    max-width: 1200px;
}
.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.inactive {
    display: none !important;
}
.section__header {
    max-width: 1200px;
    margin: 0 auto;
    h3 {
        color: $primary-color;
        margin-bottom: 24px;
    }
    h2 {
        color: $secondary-color;
        margin-bottom: 24px;
    }
    p {
        margin-bottom: 24px;
    }
    &--line {
        margin-bottom: 36px;
        width: 200px;
        height: 6px;
        background-color: $primary-color;
    }
    button {
        margin-bottom: 24px;
    }
    + p {
        margin: 0 auto;
        margin-bottom: 24px;
        max-width: 1200px;
    }
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    @include Titles(800, 5.8rem)
}

h2 {
    @include Titles(800, 4rem)
}
h2.--uppercase {
    @include Titles(600, 1.8rem, uppercase)
}
h2.--card {
    @include Titles(600, 2.5rem);
    color: $secondary-color;
}
h2.--data {
    @include Titles(400, 1.6rem)
}

h3 {
    @include Titles(800, 2.5rem);
    color: $secondary-color;
}
h3.--uppercase {
    @include Titles(600, 1.6rem, uppercase)
}
h3.--small {
    @include Titles(400, 1.6rem)
}
span.--number {
    @include Titles(800, 3rem)
}

p, a, li {
    font-size: 1.6rem;
    line-height: 2.1rem;
}
svg {
    width: 24px;
    path {
        fill: $primary-color;
        // stroke: #184341;
    }
}
button {
    width: 180px;
    height: 60px;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: $terciary-color;
        color: $primary-light-color;
    }
    &:active {
        transform: scale(.9);
    }
    transition: all .3s;
}

// Mobile menu

#MobileMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: calc(0px - 75%);
    z-index: 1;
    width: 75%;
    max-width: 360px;
    height: 100dvh;
    padding: 50px  36px;
    background-color: $secondary-color;
    color: $primary-light-color;
    @include responsive(950px) {
        display: none;
    }
}
.menu {
    display: flex;
    &.menu--mobile{
        margin-top: 20px;
        flex-direction: column;
        gap: 48px;
        a {
            font-size: 2rem;
        }
    }
    &.menu--desktop {
        display: none;
        color: $primary-light-color;

        @include responsive(950px) {
            margin-right: 36px;
            display: flex;
            gap: 24px;
            align-items: center;
        }
    }
    a {
        font-size: 1.5rem;
        font-weight: 700;
        &:hover {
            color: $primary-color;
        }
    }

}
// Header
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-bottom: -100px;
    figure {
        width: 200px;
        height: 100px;
        img {
            height: 100%;
            object-position: center;
        }
    }
    .iconContainer.in--menu {
        position: fixed;
        z-index: 1;
        top: 8px;
        right: 8px;
        width: 56px;
        height: 56px;
        padding: 8px;
        display: grid;
        place-content: center;
        background-color: $primary-color;
        border-radius: 100%;
        @include svgIcons(40px, $primary-light-color);
        @include responsive(950px) {
            display: none;
        }
    }
}

// Main: Sections
main {
    width: 100%;
    > section {
        max-width: 1600px;
        margin: 0 auto;
        padding-inline: 16px;
        padding-block: 80px;
        color: $text-color;
        background-color: $primary-light-color;
    }
    > .section:nth-child(odd) {
        background-color: $secondary-color;
        color: $primary-light-color;
        h2 {
            color: $primary-light-color
        }
    }
}
.home {
    @extend .image;
    background-position: left;
    background-image: url(https://images.pexels.com/photos/7821702/pexels-photo-7821702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    padding-block: 100px;
    color: $primary-light-color;
    @include responsive(1200px) {
        height: 100vh;
        background-position: top center;
    }
    &__info {
        margin-top: 120px;
        text-wrap: balance;
        @include responsive(750px) {
            padding-right: 35vw;
            margin-top: 200px;
        }
        h2 {
            margin-bottom: 16px;
        }
        h1 {
            padding-left: 16px;
            margin-bottom: 16px;
            border-left: 8px solid $primary-color;
        }
        p {
            margin-bottom: 24px;
        }
    }
}
.about {
    > div {
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 48px;
        
        @include responsive(760px) {
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: start;
        }
        h3.--uppercase {
            margin-top: 56px;
            margin-bottom: 24px;
        }
    }
    > div:first-child {
        margin-bottom: 80px;
    }
    .about__info {
        max-width: 700px;
    }
    &__check {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
        gap: 8px 16px;
        &__item {
            margin-bottom: 16px;
            display: flex;
            align-items: flex-start;
            gap: 16px;

            font-weight: 600;
            @include svgIcons(20px, $primary-color);
        }
    }
    &__form {
        width: 100%;
        height: fit-content;
        padding: 32px 16px;
        box-shadow: 1px 1px 10px -1px $text-color;
        -webkit-box-shadow: 1px 1px 10px -1px $text-color;
        -moz-box-shadow: 1px 1px 10px -1px $text-color;
        background-color: $primary-light-color;

        &__input {
            padding: 8px 16px;
            margin-bottom: 24px;
            width: 100%;
            height: 48px;
            font-size: 1.6rem;
            font-weight: 600;
            outline: none;
            background-color: $secondary-light-color;
            color: $text-color;
            border-bottom: 2px solid $secondary-light-color;

            &::placeholder {
                opacity: .5;
            }
            &:focus {
                border-color: $primary-color;
            }
        }
        #FormExtraDetails {
            height: 120px;
            overflow-x: unset;
            overflow-y: scroll;
            resize: none;
            &::-webkit-scrollbar-thumb {
                background-color: $primary-color;
            }
            &::-webkit-scrollbar-track {
                background-color: $secondary-light-color;
            }
            &::-webkit-scrollbar {
                width: 4px;
                height: 5px;
            }
        }
        &__terms {
            margin-bottom: 24px;
            display: flex;
            gap: 16px;
            align-items: center;
            input {
                width: 16px;
                height: 16px;
                margin: 0;
                cursor: pointer;
                accent-color: $primary-color;
            }
            p, a {
                font-size: 1.4rem;
            }
            a {
                color: $primary-color;
            }
        }
        button[type="submit"] {
            margin-top: 24px;
        }
        // Responsive
        @include responsive(768px) {
            margin-top: -12vw;
        }
        @include responsive(850px) {
            max-width: 450px;
            margin-top: -20vw;
            padding: 32px 36px;
            &__input {
                margin-bottom: 36px;
                height: 56px;
            }
        }
        @include responsive(1500px) {
            margin-top: -300px;
        }
    }

    &__roles {
        flex-direction: column;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
            text-align: center;
            width: 100%;
            @include responsive(760px) {
                width: 33%
            }

            figure {
                @include svgIcons(60px, $primary-color);
                svg {margin: 0 auto;}
            }
            h3 {
                margin-bottom: 16px;
            }
        }
    }
}
.offers {
    .center {
        @include responsive(760px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 36px;
            img {
                height: 100%;
            }
        }
        @include responsive(1000px) {
            grid-template-columns: 2fr 3fr;
            grid-auto-rows: 300px;
        }
    }
    #OffersWords {
        padding-right: 2px;
        color: $primary-color;
        border-right: 1px solid transparent; /* Inicia con un borde transparente */
        animation: cursorBlink 1s step-end infinite; /* Ajusta la duración y el tipo de animación */
        &.complete_sencence {
            background-color: $terciary-color;
            color: $text-color;
        }
    }
}
.services {
    &__header  {
        margin: 0 auto;
        text-align: center;
        .section__header--line {
            margin-inline: auto;
        }
    }
    &__box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 24px;
    }
    &__item {
        display: grid;
        place-content: center;
        width: 100%;
        // max-width: 400px;
        height: 350px;
        padding: 50px;
        border: 1px solid $secondary-light-color;
        @include svgIcons(60px, $primary-color);
        svg, h2 {
            margin-bottom: 24px;
        }
        &:hover {
            background-color: $secondary-color;
            color: $primary-light-color;
            h2 {
                color: $primary-light-color;
            }
            transition: all .3s;
        }
    }
}
.numbers {
    @extend .image;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStud-YhwB9Dde0fPyidw4iFstwUTDL_DXZ4w&usqp=CAU);
    @include svgIcons(60px, $primary-color);

    display: flex;
    justify-content: center;
    gap: 24px;
    text-align: center;
    svg {
        margin: 0 auto;
        margin-bottom: 24px;
    }
}
.testimonials {
    padding-inline: 24px;
    @include responsive(950px) {
        position: relative;
        > .center {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 36px;
            position: relative;
        }
        > .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 35vw;
            max-width: 700px;
            height: 100%;
            background-color: $primary-light-color;
        }
        &__header {
            min-width: 450px;
        }
        &__container {
            min-width: 410px;
        }
        &__box {
            height: fit-content;
            min-width: 410px;
            // display: flex;
        }
    }
    &__header {
        text-align: end;
        margin-left: auto;
        .section__header--line {
            margin-left: auto;
        }
        @include responsive(760px) {
            max-width: 500px;
            margin: 0 0 0 auto;
        }
    }
    &__container {
        position: relative;
    }
    &__box {
        width: 100%;
        display: flex;
        background-color: $primary-light-color;
        color: $text-color;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__item {
        scroll-snap-align: start;
        padding: 24px;
        flex: 0 0 100%;
    }
    &__person {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        gap: 24px;

        figure {
            width: 60px;
            height: 60px;
            img {
                border-radius: 100%;
                height: 100%
            }
        }
        &__name {
            @include Titles(700, 20px);
            color: $secondary-color;
        }
        &__role {
            margin-top: 4px;
            color: $primary-color;
        }
    }
    // bulltes
    .position-indicators {
        position: absolute;
        bottom: -40px;
        right: 50%;
        transform: translate(50%);
    }
    .position-indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: $terciary-color;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color .3s;
    }
    .position-indicator:first-child {
        background-color: $primary-color;
    }
    .nav-button {
        position: absolute;
        padding: 16px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        background-color: $primary-color;
        @include svgIcons(20px, $terciary-color);
        &#prevButton {
            top: 50%;
            transform: translate(-50%, -50%);
            &:active {
                transform: translate(-50%, -50%) scale(.9);
            }
        }
        &#nextButton {
            top: 50%;
            right: 0;
            transform: translate(50%, -50%) rotate(180deg);
            &:active {
                transform: translate(50%, -50%) rotate(180deg) scale(.9);
            }
        }
        &.disable_button {
            filter: brightness(.8);
            cursor: not-allowed;
        }
    }

}
.faq {
    @include responsive(760px) {
        display: flex;
        gap: 24px;
        > div {
            width: 50%;
        }
    }
    &__header {
        text-align: start;
        .section__header--line {
            margin-right: auto;
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__item {
        &__question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 32px;
            font-weight: 600;
            background-color: $secondary-light-color;
            color: $secondary-color;
            cursor: pointer;
            @include svgIcons(16px, $secondary-color);
            svg {
                animation: reverseRotateIcon .3s linear both;
            }
            figure {
                width: auto;
            }
            &__active {
                background-color: $secondary-color;
                color: $secondary-light-color;
                svg {
                    animation: rotateIcon .3s linear both;
                    path {
                        fill: $secondary-light-color;
                    }
                }
            }
        }
        &__answer {
            display: grid;
            grid-template-rows: 0fr;
            padding: 0px 24px;
            transition: .3s all;
            p {
                overflow: hidden;
            }
            &__active {
                grid-template-rows: 1fr;
                padding: 32px 24px;
                transition: .3s all;
            }
        }
    }
}
.footer {
    background-color: $secondary-color;
    color: $primary-light-color;
    &__box {
        max-width: 800px;
        padding: 48px 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
        @include responsive(760px) {
            flex-direction: row;
            justify-content: space-between;
        }
        .links {
            max-width: 400px;
            &__logo {
                margin: 0 auto;
                margin-bottom: 32px;
                width: 100%;
                max-width: 300px;
                height: 240px;
                img {
                    @extend .image;
                }
            }
            &__social {
                margin-block: 24px;
                display: flex;
                justify-content: space-between;
                // gap: 32px;
                a {
                    display: grid;
                    place-content: center;
                    width: 50px;
                    height: 50px;
                    background-color: $secondary-color;
                    border-radius: 100%;
                    @include svgIcons(32px, $primary-color);
                    &:hover {
                        background-color: $terciary-color;
                        border-radius: 16px;
                        transform: scale(1.1);
                    }
                    transition: all .3s;
                }
            }
        }
        .contact {
            width: 100%;
            max-width: 400px;
            h2 {
                color: $primary-color;
            }
            &__box {
                margin-top: 36px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 24px;
            }
            &__item {
                display: flex;
                flex-direction: column;
                gap: 8px;
                @include svgIcons(24px, $primary-color);
                a {
                    margin-top: 4px;
                    font-weight: 600;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
        @include responsive(760px) {
            .contact {
                width: auto;
                &__box {
                    flex-direction: column;
                }
            }
        }
        @include responsive(1000px) {
            .contact {
                &__box {
                    flex-direction: row;
                }
            }
        }
    }
    .copy {
        border-top: 1px solid $secondary-light-color;
        padding: 16px 8px;
        text-align: center;
        p, a {
            font-size: 1.2rem;
            padding-bottom: 4px;
        }
        a:hover {
            color: $primary-color;
        }
    }
}