$primary-color: #ffb400;
$secondary-color: #184341;
$text-color: #616670;
$secondary-light-color: #e9e9e9;
$primary-light-color: #ffffff;


@mixin Titles($weight, $size, $textTransform: none){
    font-weight: $weight;
    font-size: $size;
    text-transform: $textTransform;
}
@mixin svgIcons($size, $color) {
    svg {
        width: $size;
        width: $size;
        path {
            fill: $color;
        }
    }
}
.home-image {
    background-image: url(https://t4.ftcdn.net/jpg/03/83/25/83/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.inactive {
    display: none !important;
}
.section__header {
    h3 {
        color: $primary-color;
        margin-bottom: 24px;
    }
    h2 {
        color: $secondary-color;
        margin-bottom: 24px;
    }
    p {
        margin-bottom: 24px;
    }
    &--line {
        margin-bottom: 36px;
        width: 200px;
        height: 6px;
        background-color: $primary-color;
    }
    + p {
        margin-bottom: 24px;
    }
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    @include Titles(800, 5rem)
}

h2 {
    @include Titles(800, 3rem)
}
h2.--uppercase {
    @include Titles(600, 1.8rem, uppercase)
}
h2.--card {
    @include Titles(600, 2.5rem)
}
h2.--data {
    @include Titles(400, 1.6rem)
}

h3 {
    @include Titles(800, 2.5rem)
}
h3.--uppercase {
    @include Titles(600, 1.6rem, uppercase)
}
h3.--small {
    @include Titles(400, 1.6rem)
}
span.--number {
    @include Titles(800, 3rem)
}

p, a, li {
    font-size: 1.6rem;
}
svg {
    width: 24px;
    path {
        fill: $primary-color;
        // stroke: #184341;
    }
}
button {
    width: 180px;
    height: 60px;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1.6rem;
    font-weight: 600;
}

// Mobile menu

#MobileMenu {
    position: fixed;
    width: 75%;
    max-width: 360px;
    height: 100vh;
    padding: 36px;
    background-color: $secondary-color;
    color: $primary-light-color;

    .iconContainer.in--menu {
        display: grid;
        place-content: center;
        margin-left: auto;
        width: 50px;
        height: 50px;
        background-color: $primary-color;
        @include svgIcons(40px, $primary-light-color);
        &:hover {
            background-color: $secondary-color;
            border: 2px solid $primary-color;
            // border-radius: 8px;
            // transition: .3s border-radius;
        }
    }
}
.menu {
    display: flex;
    &.menu--mobile{
        margin-top: 100px;
        flex-direction: column;
        gap: 30px;
    }
    //&.menu--desktop
    a {
        font-size: 1.5rem;
        font-weight: 700;
        &:hover {
            color: $primary-color;
        }
    }
}
// Header
.header {
    // position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #616670;
    height: 100px;
    margin-bottom: -100px;
    figure {
        width: 200px;
        height: 100px;
        img {
            height: 100%;
            object-position: center;
        }
    }
    .iconContainer.in--menu {
        padding: 24px;
        display: grid;
        justify-content: end;
        align-items: start;
        @include svgIcons(40px, $primary-color);
    }
}

// Main: Sections
main {
    width: 100%;
    > section {
        padding-inline: 16px;
        padding-block: 80px;
        color: $text-color
    }
    > .section:nth-child(odd) {
        background-color: $secondary-color;
        color: $primary-light-color;
        h2 {
            color: $primary-light-color
        }
    }
}
.home {
    @extend .home-image;
    padding-block: 100px;
    color: $primary-light-color;
    &__info {
        margin-top: 100px;
        h2 {
            margin-bottom: 16px;
        }
        h1 {
            padding-left: 16px;
            margin-bottom: 16px;
            border-left: 8px solid $primary-color;
        }
        p {
            margin-bottom: 24px;
        }
    }
}